# ===============================
# Maven
# ===============================
target/
*.jar
*.war
*.ear

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Environment files
# ===============================
.env

# ===============================
# Build / temp
# ===============================
out/
bin/